<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>searchpage</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchpage</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>download</servlet-name>
    <servlet-class>edu.cmu.xbrw.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/gigo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>blob</servlet-name>
    <servlet-class>edu.cmu.xbrw.BlobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blob</servlet-name>
    <url-pattern>/blob</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mirror</servlet-name>
    <servlet-class>edu.cmu.mixer.proxy.MirrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mirror</servlet-name>
    <url-pattern>/mirror</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mirror</servlet-name>
    <url-pattern>/mirror/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>public hole</web-resource-name>
      <url-pattern>/logout.jsp</url-pattern>
      <url-pattern>/index.jsp</url-pattern>
    </web-resource-collection>
    <!-- OMIT auth-constraint -->
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>lockdown</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
